<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    
    </startup>
  <appSettings>
    <add key="XmlFile"
       value="Z:\XML\CFB_LIVE_AP_RANKED.XML"/>
    <add key="XmlFile1"
       value="Z:\XML\CFB_LIVE_CFP_RANKED.XML"/>
    </appSettings>
  
  
  
  
</configuration>